<div class="main main-raised">
  <div class="container">
    <div class="section text-center">

      <div class="features">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class="title">Premium Pet Care</h2>
            <h5 class="description">At Sunny Pets we pride ourselves on offering pet parents reliable and trustworthy service. We always reply within one business day and make it a point to accommodate last minute requests</h5>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">move_to_inbox</i>
              </div>
              <h4 class="info-title">Updates</h4>
              <p>We keep you in the loop about your fur baby and how did while they were out with us</p>
            </div>
            <div class="footer">
              <button class="btn btn-round btn-success" data-toggle="modal" data-target="#mock_update-modal">Example Update<div class="ripple-container"></div></button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-rose">
                <i class="material-icons">explore</i>
              </div>
              <h4 class="info-title">GPS Tracks</h4>
              <p>With GPS tracking you can follow your pet on their outing even when you're at work</p>
            </div>
            <div class="footer">
              <button class="btn btn-round btn-rose" data-toggle="modal" data-target="#mock_gps_track-modal">Example GPS Track<div class="ripple-container"></div></button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-primary">
                <i class="material-icons">photo_camera</i>
              </div>
              <h4 class="info-title">Instagram</h4>
              <p>Photos and videos of your pets uploaded each and every time we make a visit</p>
            </div>
            <div class="footer">
              <a href="http://www.instagram.com/sunnypets" target="_blank">
                <button class="btn btn-round btn-primary">Follow @SunnyPets
                  <div class="ripple-container"></div>
                </button>
              </a>
            </div>
          </div>


        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-warning">
                <i class="material-icons">work</i>
              </div>
              <h4 class="info-title">Licensed</h4>
              <p>Sunny Pets is licensed to do business in San Diego and we proudly pay taxes</p>
            </div>
            <div class="footer">
              <button class="btn btn-round btn-warning" data-toggle="modal" data-target="#biz-license-modal">View Business License<div class="ripple-container"></div></button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">verified_user</i>
              </div>
              <h4 class="info-title">Bonded</h4>
              <p>Your home and your belongings are always safe and secure with Sunny Pets</p>
            </div>
            <div class="footer">
              <button class="btn btn-round btn-info" data-toggle="modal" data-target="#insurance-certificate-modal">View Proof of Bond<div class="ripple-container"></div></button>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">add_circle</i>
              </div>
              <h4 class="info-title">Insured</h4>
              <p>Sunny Pets is covered under the most trusted pet insurance in America</p>
            </div>
            <div class="footer">
              <button class="btn btn-round btn-danger" data-toggle="modal" data-target="#insurance-certificate-modal">View Insurance Certificate<div class="ripple-container"></div></button>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>
</div>

<!--Mock Update-->
<div class="modal fade" id="mock_update-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
        <h4 class="modal-title">Example Update</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/img/features/mock_update.png" alt="Example Update">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 21.0781px; top: 28px; background-color: rgb(244, 67, 54); transform: scale(8.5);"></div></div></button>
      </div>
    </div>
  </div>
</div>

<!--Mock GPS Track-->
<!--TODO: add max height so its not super huge-->
<div class="modal fade" id="mock_gps_track-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
        <h4 class="modal-title">Example GPS Track</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/img/features/mock_gps_track_reduced.jpg" alt="Example GPS Track">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 21.0781px; top: 28px; background-color: rgb(244, 67, 54); transform: scale(8.5);"></div></div></button>
      </div>
    </div>
  </div>
</div>

<!--Business License Modal-->
<div class="modal fade" id="biz-license-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
        <h4 class="modal-title">San Diego Business License</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/img/features/sunnypetsbizlicense2017.png" alt="Sunny Pets Business License">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 21.0781px; top: 28px; background-color: rgb(244, 67, 54); transform: scale(8.5);"></div></div></button>
      </div>
    </div>
  </div>
</div>

<!--Insurance Certificate Modal-->
<div class="modal fade" id="insurance-certificate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
        <h4 class="modal-title">Pet Sitter's Insurance Certificate and Proof of Bond</h4>
      </div>
      <div class="modal-body">
        <img src="/assets/img/features/insurancecertificate2018.jpg" alt="Sunny Pets Insurance Certificate">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 21.0781px; top: 28px; background-color: rgb(244, 67, 54); transform: scale(8.5);"></div></div></button>
      </div>
    </div>
  </div>
</div>
